.btnWrapper {
    position: relative;
    border-radius: 6px;
    padding: 27px 0;
}

.addBtn {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'TT Norms', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--purple);
    transition: opacity .3s ease;
}

.addBtn:hover {
    opacity: .7;
}