.containerPositionMobile {
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.bodyItem {
    margin-top: 15px;
}

.bodyItem:last-child {
    margin-bottom: 30px;
}

.btnSavePosition {
    width: 335px;
    padding: 14px 50px;
    font-family: 'TT Norms';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-radius: 10px;
    background-color: var(--purple);
    color: var(--white);
    transition: opacity .3s ease;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin: 10px auto
}

.btnSavePosition:hover {
    opacity: .8;
}

@media (max-width: 599px) {
    .sendBtn {
        width: 100%;
    }
}