.message,
.messageOptionalBlock {
    display: inline-block;
    margin-top: 26px;
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--red);
}

.messageOptionalBlock {
    margin-top: 15px;
}

@media (max-width: 599px) {
    .message {
        position: absolute;
        top: 60%;
        left: 0;
    }

    .messageOptionalBlock {
        position: absolute;
    }

    .optionalBase,
    .optionalName {
        left: 0;
        bottom: -45%;
    }

    /* .optionalName {
        left: 0;
        bottom: -50%;
    } */

    .optionalPNumber {
        left: 0;
        bottom: -85%;
    }

    .optionalDate {
        left: 0;
        bottom: -15%;
    }

}