.container {
    margin: 15px 0;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.ndsInput {
    appearance: none;
    display: none;
}

.ndsLabel {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 10px;
    background-color: var(--grey-100);
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
    transition: all ease .3s;
}

.ndsLabel:focus {
    background-color: var(--purple);
    color: var(--white);
    font-weight: 900;
}