.container {
    margin-bottom: 15px;
}

.body {
    display: flex;
    align-items: stretch;
}

.bodyItem {
    width: 20.3%;
    margin-top: -1px;
    box-shadow: 0 0 0 1px inset var(--ultra-grey);
    transition: box-shadow .3s ease;
}

.bodyItem:not(:last-child) {
    margin-right: -1px;
}

.bodyItem:first-child {
    border-bottom-left-radius: 6px;
}

.bodyItem:last-child {
    border-bottom-right-radius: 6px;
}

.bodyItem:focus-within {
    z-index: 2;
    box-shadow: var(--box-shadow-basic);
}