.count,
.countError {
    font-family: 'TT Norms';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.count {
    color: var(--grey);
}

.countError {
    color: var(--red);
}

@media (max-width: 599px) {

    .count,
    .countError {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
    }
}