.container {
    display: flex;
    align-items: stretch;
    position: relative;
    cursor: pointer;
}

.container:focus .namePosition,
.container:focus-within .namePosition {
    color: var(--purple);
}

.container:focus .rightSide,
.container:focus-within .rightSide {
    box-shadow: var(--box-shadow-basic);
}

.rightSide {
    padding: 15px 20px;
    width: calc(600/870 * 100%);
    border: 1px solid var(--ultra-grey);
    border-radius: 0 6px 6px 0;
    transition: box-shadow .3s ease-in-out;
}

.leftSide {
    width: calc(270/806 * 100%);
    padding: 16.8px 20px;
    border: 1px solid var(--ultra-grey);
    border-radius: 6px 0 0 6px;
    margin-right: -1px;
    transition: color .3s ease-in-out;
}

.namePosition {
    font-size: 14px;
    line-height: 18px;
    color: var(--dark);
}

.input {
    width: 100%;
    padding-bottom: 1px;
    padding-top: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--dark);
}

@media (max-width: 599px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
    }

    .container * {
        border: none;
        padding: 0;
    }

    .rightSide {
        width: 100%;
        padding: 8px 0;
        border-radius: 0;
        border-bottom: 1px solid var(--ultra-grey);
        transition: border-bottom .3s ease-in-out
    }

    .leftSide {
        width: 97%;
    }

    .container:focus .rightSide,
    .container:focus-within .rightSide {
        box-shadow: none
    }

    .container:focus .rightSide,
    .container:focus-within .rightSide {
        border-bottom: var(--purple) 1px solid;
    }
}